.hui-body
  .g-item-breadcrumb-container
    display none
    padding-right 10px
    user-select text

    ol.breadcrumb
      background none

  button.btn.btn-default.navbar-btn.h-open-annotated-image
    display none

  button.btn.btn-default.navbar-btn.h-open-image
    display none
