.hui-body
  .g-item-breadcrumb-container
    display none
    padding-right 10px
    user-select text

    ol.breadcrumb
      background none

  button.btn.btn-default.navbar-btn
    margin-right 10px
  button.btn.btn-default.navbar-btn.h-open-submit
    color: #fff
    background-color: #165DFF
